/src/sqldrivers/INSTALLER
/src/sqldrivers/LICENSE.txt
/src/sqldrivers/METADATA
/src/sqldrivers/qsqlite.dll
/src/sqldrivers/qsqlodbc.dll
/src/sqldrivers/qsqlpsql.dll
/src/sqldrivers/RECORD
/src/sqldrivers/REQUESTED
/src.zip
/src_final_project.zip
/src/sqldrivers/top_level.txt
/src/sqldrivers/WHEEL
/src/sec/secrets.yml
*/__pycache__